{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import", {
        "libraryName": "antda",
        "libraryDirectory": "es",
        "style": true // `style: true` 会加载 less 文件
      }
    ]
  ]
}
